requests
pytest
pytest-xdist
pytest-sugar
pytest-docker
pyjwt
python-dotenv
assertpy
pytest-rerunfailures
jsonschema
https://github.com/NHSDigital/apim-test-utils/releases/download/v1.1.31-alpha/api_test_utils-1.1.31a0-py3-none-any.whl